h1 {
    color: #40739e;
    text-align: center;
}

h2 {
    color: #2f3640; }

body {
    font-family: Arial, sans-serif;
    background-color: #f0f3f5;
    text-align: center;
    padding: 40px;
    color: #2f3640;
}

a {
    display: inline-block;
    margin: auto;
    color: #0097e6;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

table {
    background-color: #f5f5f5;
    border-collapse: collapse;
    width: 55%;
    margin: 0 auto;
    border: 1px solid black;
}

th {
    background-color: #4a69bd;
    color: white;
    border: 1px solid black;
    padding: 5px;
}

td {
    border: 1px solid black;
}

tr {
    text-align: center;
}

form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    width: 350px;
    margin: 30px auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #dcdde1;
    border-radius: 6px;
}


ul {
    list-style-position: inside;
    padding: 0;
    text-align: center;
}






